<div class="home-header">
    <nav>
        <div class="menu-toggle">
            <img src="assets/Img/user-dp.jpg" alt="User Dp">
            <div class="hamberger-wrapper">
                <div class="hamberger-icon">
                    <span class="line"></span>
                    <span class="line"></span>
                    <span class="line"></span>
                </div>
            </div>
        </div>
        <div class="brand-logo">
            <img src="assets/logo/paytm-se-upi-vertical.png" alt="Paytm से UPI">
        </div>
        <div class="action-panel">
            <div>
                <img src="assets/icons/paytm-search-icon.svg" alt="Paytm Search Icon">
            </div>
            <div>
                <img src="assets/icons/paytm-notification-icon.svg" alt="Paytm Notification Icon">
            </div>
        </div>
    </nav>

    <article>
        <a href="javascript:;">
            <p>Dosti nibhao, <br> prizes jeet jao!</p>
        </a>
    </article>
</div>